.onboarding-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.onboarding-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.onboarding-line {
    height: 5px;
    background-color: grey;
    flex-grow: 1;
    margin: 0 10px;
}

.onboarding-line.complete {
    background-color: green;
}
